body{
	font-family: sans-serif;

}

nav{
	/*outline: 1px solid yellow;*/

}

ul{
	/*outline: 1px solid blue;*/
	list-style: none;/* le quita viñetas a la lista*/
	padding: 0;
	margin: 0;
	background: #2e2e2a;
	line-height: 40px;
	overflow: auto;

}

li{
	/*outline: 1px solid red;*/
	width: 100px;
	/*display: inline-block; cambia bloque a caracteristicas de linea */
	text-align: center;
	float:left; /* le quita las caracteristicas de bloque;*/
}

a{
	/*outline: 1px solid green;*/
	text-decoration: none;
	display: block;
	color:#fff;
}
a:hover{
	background: #f9a91a;
	color:#000;
}